@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Books" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <br />
        <div class="btn-agregar">
            <div class="col-sm-12">
                <button class="btn btn-success" type="button" onclick="abrirModal(null)">Create</button>
            </div>
            <br />
            <table id="Table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Excerpt</th>
                        <th>PublishDate</th>
                        <th>Details</th>
                        <th>Delete</th>


                    </tr>
                </thead>
            </table>
        </div>
    </div>

</body>


<!-- Modal -->
<div class="modal fade" id="FormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Book</h5>
                <button type="button" onclick="CloseWindow()" id="txtClose" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form id="Save">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-2">

                                <label for="txtId" class="form-label">ID</label>
                                <input type="number" class="form-control required" id="txtId" name="Id" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-2">
                                <label for="txtTitle" class="form-label">Title</label>
                                <input type="text" class="form-control required" id="txtTitle" name="Title" autocomplete="off">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-2">
                                <label for="txtDescription" class="form-label">Description</label>
                                <input type="text" class="form-control required" id="txtDescription" name="Description" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-2">
                                <label for="txtExcerpt" class="form-label">Excerpt</label>
                                <input type="text" class="form-control required" id="txtExcerpt" name="Excerpt" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-2">
                                <label for="txtPublishDate" class="form-label">PublishDate</label>
                                <input type="date" class="form-control required" id="txtPublishDate" name="PublishDate" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-2">
                                <label for="txtPageCount" class="form-label">PageCount</label>
                                <input type="number" class="form-control required" id="txtPageCount" name="PageCount" autocomplete="off">
                            </div>
                        </div>
                    </div>



                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="CloseWindow()" id="txtClose">Close</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Save</button>
            </div>
        </div>
    </div>
</div>




<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/GetAll.js" asp-append-version="true"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/sweetalert2.js"></script>
